<div class="row">
    <aside class="span4">
      <%= render 'shared/stats_and_user_info', user: current_user %>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
	<div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
</div>